<div class="navbar">
    <a href="/home"><h1>HOME</h1></a>
    <a href="/category/60d1f60ae334111d30da6f21/news"><h1>POLITICS</h1></a>
    <a href="/category/60d1f623e334111d30da6f23/news"><h1>SPORTS</h1></a>
    <a href="/category/60d1f642e334111d30da6f25/news"><h1>SCIENCE</h1></a>
    <a href="/category/60d1f64ae334111d30da6f27/news"><h1>VIDEOGAMES</h1></a>
</div>