<head>
    <link rel="stylesheet" href="./css/style.css">
</head>
<div class="container">
    {{#each news}}
        <div class="block">
            <img src="{{img}}">
            <a href="/news/{{_id}}"><h2>{{title}}</h2></a>
        </div>
    {{/each}}
</div>